* { 
  margin: 0; 
  padding: 0; box-sizing: border-box;
}

body { 
  /* font: 13px Helvetica, Arial;  */
  /* background: url(pattern.png); */
  /* background-size: 150%; */
}

#lobby, #game, #in-progress, #prompt, #response {
  display: none;
}

.current-turn {
  background: #F1D997;
}

#prompt-title {
  text-align: center;
  font-size: 50px;
}

.response-vote-list-item-container, .player-vote-list-item-container {
  display: flex;
  justify-content: space-between;
}

.game-title {
  color: black;
  text-decoration: none;
}

#game-header {
  display: none;
}

/* off-white: #F5F3F3, dull-yellow: #F1D997 */