* { 
  margin: 0; 
  padding: 0; box-sizing: border-box; 
}

body { 
  font: 13px Helvetica, Arial; 
  background: url(pattern.png);
  background-size: 150%;
}

#lobby, #game {
  display: none;
}

/* off-white: #F5F3F3, dull-yellow: #F1D997 */