* { 
  margin: 0; 
  padding: 0; box-sizing: border-box;
}

body { 
  font: 13px Helvetica, Arial; 
  background: url(pattern.png);
  background-size: 150%;
}

#lobby, #game, #in-progress, #prompt, #response {
  display: none;
}

.current-turn .name {
  background: red;
}

#prompt-title {
  text-align: center;
  font-size: 50px;
}

#player-list-wrapper, #response-vote-list-wrapper {
  width: 250px;
}

.player-list-item-container, .response-vote-list-item-container {
  display: flex;
  justify-content: space-between;
}

/* off-white: #F5F3F3, dull-yellow: #F1D997 */